# /usr/lib/systemd/system/bililive.service

[Unit]
Description=BILILIVE
Documentation=https://github.com/kamino-space/BiliLive
After=network.target

[Service]
ExecStart=cd /server/BiliLive && /home/ubuntu/miniconda3/bin/python bililive.py
ExecStop=
Restart=always

[Install]
WantedBy=multi-user.target