# /usr/lib/systemd/system/bililive.service

[Unit]
Description=BILILIVE
Documentation=https://github.com/kamino-space/BiliLive
After=network.target

[Service]
ExecStart=/home/ubuntu/miniconda3/bin/python /server/BiliLive/bililive.py
Restart=always

[Install]
WantedBy=multi-user.target