# /etc/systemd/system/livepush.service

[Unit]
Description=LIVEPUSH
Documentation=https://live.bilibili.com/1598896
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ffmpeg -re -i rtmp://172.18.0.5:1935/live/bililive -acodec aac -strict -2 -f flv $RTMP
Restart=always
User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target